.page-header
	h1 {{Contact.selected.name}}

form#contact-details.form-horizontal 
	.control-group(ng-repeat="data in Contact.selected.datas")
		label.control-label  {{data.name}}
		input(type="text", ng-model="data.value"))